<div class="row">
	<div class="col-md-12">
		<div class="well">
			<div>
				<img class="img-responsive pull-left" style="max-width:150px; margin-right:25px;" src="http://crg.io/images/aboutme-square.jpg" alt="Charlie's Photo">
			</div>
			<div>
				<h1>About</h1>
				<p>This is Charlie Gigante's <strong>Ruby on Rails</strong> project. It's a Pinterest-style web application which allows users to create accounts, post photos and more. Please visit me at <a href="http://www.crg.io">crg.io</a> for more information. Thanks for visiting and enjoy!</p>
				<p>Also, please visit me on <a href="https://github.com/cgigante">GitHub</a> to scrutinize my code (if you're into that sort of thing.)</p>
			</div>
		</div>
	</div>		
</div>