<div class="row">
	<div class="col-md-12">
		<div class="well">
			<div>
				<h1>Contact</h1>
				<p>This is where the contact form will go once I know what I'm doing.</p>
			</div>
		</div>
	</div>		
</div>